<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Imported</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Remove Item</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cartItem of cartItems">
            <td>{{ cartItem.name }}</td>
            <td>{{ cartItem.category }}</td>
            <td>{{ cartItem.isImported }} </td>
            <td>{{ cartItem.price }}</td>
            <td>
                <select [(ngModel)]="cartItem.quantityOrdered" (ngModelChange)="onQuantityOrderedChange(cartItem)">
                    <option *ngFor="let qty of [].constructor(cartItem.quantityInStock) let i = index" [value]="i + 1">
                        {{ i + 1 }}
                    </option>
                </select>

            </td>
            <td>{{ cartItem.subTotal}}</td>
            <td>
                <button (click)="removeItemFromCart(cartItem)">Remove</button>
            </td>
        </tr>
    </tbody>
</table>
<div>
    Total : {{total}}
</div>
<div>
    <button (click)="submitOrder()" [disabled]="isCartEmpty">Submit</button>
</div>