<div class="receipt-container">
    <div class="receipt-header"> Receipt</div>
    <div class="receipt-body-header">
        <div>Order id : {{ receiptData?.id }}</div>
        <div>Order Date : {{ receiptData?.orderDate }}</div>
        <div>Itemized detail :</div>
    </div>
    <table class="receipt-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>IsImported</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Tax</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let purchaseItem of receiptData?.purchasedItems">
                <td>{{ purchaseItem.name }}</td>
                <td>{{ purchaseItem.category }}</td>
                <td>{{ purchaseItem.isImported }} </td>
                <td>{{ purchaseItem.price }}</td>
                <td>{{ purchaseItem.quantity }}</td>
                <td>{{ purchaseItem.tax }}</td>
                <td>{{ purchaseItem.subTotal }}</td>
            </tr>
        </tbody>
    </table>
    <div class="receipt-total">Total : {{receiptData?.total}}</div>
</div>